.promo {
  padding: 65px 0 160px;
  position: relative;
  text-align: center;
  background: url(/promo/bg_promo.svg) no-repeat center center;
}

.promo_bg_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.promo_bg {
  object-fit: cover;
  height: 100%;
  height: 100%;
  margin: 0 auto;
}

.promo__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 68px;
  color: var(--color-black);
}

.promo__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--color-black);
}

.promo__slogan {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
  margin-top: 16px;
}

.promo__subslogan {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--color-black);
  margin-top: 8px;
}

.promo__btn {
  margin-top: 16px;
}

.promo_img {
  display: none;
  width: 280px;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 35px 0 40px;
    text-align: left;
    background: url(/promo/bg_promo-mobile.svg) no-repeat right top / 100% auto;
  }

  .promo_img {
    display: block;
  }

  .promo__subslogan {
    display: none;
  }

  .promo__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .promo__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    color: #080808;
  }

  .promo__subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: #080808;
  }

  .promo__slogan {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #080808;
  }
}

/*********************************/

.about {
  padding: 186px 0 224px;
}

.about__wrapper {
  background: var(--color-blue);
  border-radius: 32px;
  padding: 54px;
  display: flex;
  align-items: center;
  max-width: 1208px;
  margin: 0 auto;
  gap: 130px;
  position: relative;
}

.about__wrapper::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px; /* Размер треугольника */
  border-color: transparent transparent var(--color-white) transparent; /* Цвет совпадает с фоном */
  bottom: 0;
  right: 0;
  z-index: 1;
}

.about__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 48px;
  color: var(--color-white);
}

.about__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-white);
  margin-top: 32px;
}

.about__corner {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.about__desc_mobl {
  display: none;
}

/*******************************/

.works {
  padding-bottom: 200px;
}

.works__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 200px;
  margin-top: 56px;
}

.works__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: var(--color-black);
}

/****************************************/

.services {
  padding: 0 0 224px;
}

.services__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: var(--color-black);
}

.services__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-blue);
  transition: 0.3s all;
  display: block;
}

.services__link:hover {
  text-shadow: 0 0 1px currentColor;
}

.services__link {
  margin-top: 8px;
}

@media screen and (max-width: 1280px) {
  .works__wrapper {
    gap: 56px 150px;
  }
  .works {
    padding-bottom: 150px;
  }
  .services {
    padding: 0 0 150px;
  }
}

@media screen and (max-width: 992px) {
  .about__wrapper {
    gap: 0;
  }
  .about__wrapper {
    gap: 90px;
  }
  .works__wrapper {
    gap: 56px 100px;
  }
  .works {
    padding-bottom: 100px;
  }
  .services {
    padding: 0 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0 0 40px;
  }
  .about__title {
    color: var(--color-black);
    font-size: 32px;
  }
  .about__img {
    display: none;
  }
  .about__desc {
    color: var(--color-black);
    font-size: 14px;
  }
  .about__wrapper {
    padding: 35px 0;
    background-color: transparent;
  }
  .about__corner {
    display: none;
  }

  .about__desc_desk {
    display: none;
  }
  .about__desc_mobl {
    display: block;
  }
  .works__title {
    font-size: 32px;
    text-align: left;
  }
  .works__wrapper {
    gap: 56px 56px;
    margin-top: 20px;
  }
  .works {
    padding-bottom: 40px;
  }
  .services {
    padding: 0 0 40px;
  }
  .services__title {
    font-size: 32px;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .promo_img {
    width: 180px;
  }
  .about__box {
    padding: 0;
  }
  .about__title {
    font-size: 32px;
  }
  .about__desc {
    font-size: 14px;
  }
  .about__wrapper {
    padding: 0;
  }
  .works__wrapper {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media screen and (max-width: 460px) {
  .promo_img {
    width: 112px;
  }
  .about__box {
    padding: 0;
  }
}
