.review {
  padding: 24px;
  border: 1px solid #0057f4;
  border-radius: 8px;
  height: 200px;
  max-width: 328px;
  width: 100%;
}

.review__fullname {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--color-black);
}

.review__func {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-blue);
  margin-top: 4px;
}

.review__text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);
  margin-top: 25px;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничиваем количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1280px) {
  .review__fullname {
    font-size: 24px;
  }
  .review__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .review__fullname {
    font-size: 20px;
  }
  .review__func {
    font-size: 10px;
  }
  .review__text {
    font-weight: 400;
    margin-top: 16px;
    font-size: 14px;
  }
  .review {
    height: 156px;
  }
}
