.textarea__wrapper {
  overflow: hidden;
  border-radius: 32px;
  user-select: none;
  width: 100%;
}

.textarea {
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  background: var(--color-white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-silver);
  resize: none;
}

/* Стили для WebKit (Chrome, Safari, Edge) */
.textarea::-webkit-scrollbar {
  width: 8px; /* Немного шире для лучшего визуального эффекта */
  height: 8px; /* Для горизонтального скролла */
  border-radius: 10px; /* Увеличиваем скругление */
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px; /* Закругляем трек */
  margin: 4px 0;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 10px; /* Увеличиваем скругление */
  border: 2px solid transparent; /* Добавляем прозрачную границу */
  background-clip: content-box; /* Чтобы фон не заходил за границы */
}

.textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-black);
}

/* Убираем кнопки-стрелки */
.textarea::-webkit-scrollbar-button {
  display: none;
}

/* Стили для Firefox */
.textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black) transparent;
  scrollbar-gutter: stable; /* Чтобы не прыгало содержимое */
}

.textarea:focus {
  outline: none;
  border-color: var(--color-black);
}

@media screen and (max-width: 1280px) {
  .textarea__wrapper {
    border-radius: 20px;
  }
  .textarea {
    font-size: 14px;
    border-radius: 18px;
  }
}
